*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.Floor svg{
    width: 100%;
}

.Floor .st0{
    width: 100%;
    height: 903px;
    fill: #9B6dbf;
}

.Floor .st1{
    width: 100%;
    height: 27px;
    fill: #633585;
}