*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.clock{
    width: 160px;
    height: 160px;
    background-image: url('../../assets/clock_base.svg');
    position:absolute;
    top: 14%;
    left: 10%;
    background-size:cover;
    background-position: center;
}

.center{
    width: 5px;
    height: 5px;
    background-color: #9b6dbf;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 4;
}

.wraperSeg{
    width: 100%;
    height: 100%;
    width: 70px;
    height: 70px;
    border-radius:calc(100% / 2);
    position:absolute;
    top:30%;
    left:28%;
}

#finePointer{
    width:2.2px;
    height:85%;
    background-color: #c79ee7;
    position: relative;
    left: 50%;
    top:-35%;
    transform: translateX(-50%);
}

.wraperMin{
    width: 100%;
    height: 100%;
    width: 80px;
    height: 80px;
    border-radius:calc(100% / 2);
    position: relative;
    top:24%;
    left:25%;
    z-index: 2;
}

#longerPointer{
    width:4px;
    height:75%;
    background-color: #9b6dbf;
    position: relative;
    left: 50%;
    top:-25%;
}

.wraperHours{
    width: 100%;
    height: 100%;
    width: 60px;
    height: 60px;
    border-radius:calc(100% / 2);
    position: absolute;
    top: 32%;
    left: 32%;
    border-radius: 30px;
}

#smallPointer{
    width:4px;
    height:70%;
    background-color: #633585;
    position: relative;
    top: -20%;
    left: 47%;
    z-index: 3;
}

@media screen and (max-width:1280px){
    .clock{
        left: 2%;
    }
}

@media screen and (max-width:1024px){
    .clock{
        display: none;
    }
}