*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.floor{
    width: 100%;
    height: 30%;
    min-height: calc(746px * 0.45);
    background-image: url('../../assets/ground.svg');
    background-position:100% 100%;
}

@media screen and (max-width:768px){
    .floor{
        min-height:calc(746px * 0.55);

    }
}