*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.wall{
    width: 100%;
    height:55%;
    min-height:calc(746px * 0.55);
    background-image: url('../../assets/bg_stripes.svg');
    background-size:contain;
}

@media screen and (max-width:768px){
    .wall{
        min-height:calc(746px * 0.45);

    }
}

