*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.Board{
    width:600px;
    height: 250px;
    background-image: url('../assets/board.svg');
    background-size: 100% 100%;
    position: relative;
    top:70%;
    right: 30%;
    z-index: 1;
}

.Board h2{
    color: #e7dfef;
    font-size:15px;
    font-weight:400;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 7px;
    position: absolute;
    top: 20px;
    right:110px;
}

.Filter-Wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:260px ;
    height: 60px;
    position: absolute;
    top: 45px;
    right: 40px;
    z-index: 99;
}

.Filter-Button{
    width: 60px;
    height: 64px;
    background-image: url('../assets/filter_button.svg');
    background-size: cover;
    border: 0;
    background-color:transparent;
    cursor: pointer;
}

.Filter-Button:nth-of-type(2){
    margin: 0 23px;
}

.Active{
    background-image: url('../assets/filter_button_active.svg');
}


.Filter-Aphabetic{
    width: 20px;
    height: 20px;
    background-image: url('../assets/filter_alphabetic.svg');
    background-size: 100% 100%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

.Filter-Colors{
    width: 20px;
    height: 20px;
    background-image: url('../assets/filter_colors.svg');
    background-size: 100% 100%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

.Filter-Sizes{
    width: 20px;
    height: 20px;
    background-image: url('../assets/filter_sizes.svg');
    background-size: 100% 100%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}

.Line{
    width:210px;
    height: 5px;
    background-color: #e7dfef;
    position: absolute;
    bottom: 48%;
    right:65px ;
    transform: translateY(-50%);
}

.Button{
    width: 300px;
    height: 57px;
    background-image: url('../assets/button.svg');
    background-position:contain ;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:50px;
    right:20px;
    cursor: pointer;
}
