*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.Bookcase{
    width: 1000px;
    height: 520px;
    background-image: url('../assets/bookcase.svg');
    background-color: transparent;
    background-position:100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 13%;
    left: 21%;
}

.Shelf{
    display: flex;
    width: 460px;
    height: 113px;
    position: absolute;
    top: 88px;
    left: 234px;
    padding: 0 5px;
}

.books{
    width: calc(100% / 9);
    height: 100%;
    background-position:cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.book-A{
    background-image: url('../assets/book_a.svg');
}

.book-B{
    background-image: url('../assets/book_b.svg');
}

.book-C{
    background-image: url('../assets/book_c.svg');
}

.book-D{
    background-image: url('../assets/book_d.svg');
}

.book-E{
    background-image: url('../assets/book_e.svg');
}

.book-F{
    background-image: url('../assets/book_f.svg');
}

.book-G{
    background-image: url('../assets/book_g.svg');
}

.book-H{
    background-image: url('../assets/book_h.svg');
}

.book-I{
    background-image: url('../assets/book_i.svg');
}

.book-J{
    background-image: url('../assets/book_a.svg');
}
