*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.clock{
    width: 180px;
    height: 180px;
    background-image: url('../assets/clock_base.svg');
    position:absolute;
    top: 90px;
    left: 10%;
    background-size:cover;
}