*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.Logo{
    width: 220px;
    height: 220px;
    background-image: url('../assets/logo.svg');
    position: absolute;
    top: 70px;
    right: 4.5%;
}